* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.content,
.navbar {
  margin: 2em;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: green;
  font-size: 20px;
  text-decoration: none;
}

.links {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.links .navlink {
  text-decoration: none;
  display: flex;
  color: black;
  transition: transform 0.7s;
}

.links .navlink:hover {
  transform: scale(1.3);
}

.links .navlink.active {
  background-color: green;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  transition: 0.5s;
}

.links .navlink.active:hover {
  transform: scale(1);
}

.banner img {
  width: 100%;
  max-height: 50vh;
  background-size: cover;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #a8dadc;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #a8dadc !important;
}

.main {
  display: flex;
  gap: 3em;
}

.blog-list,
.blog-list .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}

.blog-preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #fafafa;
  max-width: 17em;
  max-height: 25em;
  position: relative;
}
.blog-list .container .blog-preview {
  max-width: 20em;
}

.blog-preview img {
  max-width: 100%;
  min-height: 10em;
  object-fit: cover;
}

.blog-list .container .blog-preview img {
  min-height: 15em;
}

.blog-preview h2 {
  font-size: 20px;
}

.details {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
}

.blog-preview button {
  background-color: green;
  color: white;
  padding: 0.5em;
  font-weight: 700;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
}

.blog {
  text-decoration: none;
}

.blog h2 {
  color: green;
}

.blog p {
  color: rgb(136, 133, 133);
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 5em;
  max-width: 9em;
}

.side-details {
  display: flex;
  text-decoration: none;
}

.related-posts,
.article {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.post {
  display: flex;
  gap: 0.5em;
  transition: 0.3s;
  cursor: pointer;
}

.post:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.post img {
  max-width: 3em;
}

.post p {
  font-size: 0.6em;
  color: rgb(124, 123, 123);
}

.post {
  display: flex;
}

.article p {
  font-size: 0.8em;
  padding-bottom: 1em;
  border-bottom: 1px solid #333;
  color: rgb(124, 123, 123);
}

.blog-details img {
  max-width: 40em;
}

.blog-details h2 {
  color: green;
}

.blog-details p {
  display: flex;
  justify-content: flex-end;
  color: rgb(124, 123, 123);
}

.footer-container {
  background-color: black;
  color: white;
  padding: 10px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 0.5em 1em;
  justify-content: space-between;
}

.foot {
  display: flex;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  width: 20em;
}

.foot .details {
  display: block;
  max-width: 20em;
}

.foot h3 {
  margin-bottom: 20px;
  color: green;
  font-size: 0.9em;
}

.foot p {
  font-size: 13px;
  line-height: 30px;
  color: white;
}

.footer-link {
  text-decoration: none;
}
.footer-link p {
  transition: 0.3s;
}

.footer-link p:hover {
  color: rgb(124, 123, 123);
}

.foot img {
  max-height: 200px;
  width: 250px;
  object-fit: cover;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright a {
  color: green;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 1104px) {
  .content,
  .navbar {
    margin: 1em;
  }
}

@media screen and (max-width: 1072px) {
  .main {
    gap: 1em;
  }
}

@media screen and (max-width: 1040px) {
  .main {
    gap: 1px;
  }
}

@media screen and (max-width: 1024px) {
  .blog-list {
    gap: 0.5em;
  }
}

@media screen and (max-width: 1024px) {
  .banner img {
    max-height: 30vh;
  }
}

@media screen and (max-width: 728px) {
  .content,
  .navbar {
    margin: 3em;
  }
  .blog-list {
    justify-content: flex-start;
  }
  .blog-preview {
    max-width: 20em;
    max-height: 25em;
  }
}

@media screen and (max-width: 640px) {
  .content,
  .navbar {
    margin: 1em;
  }
  .blog-details img {
    max-width: 30em;
  }
  .blog-list .container .blog-preview img {
    min-height: 10em;
  }
}

@media screen and (max-width: 600px) {
  .hamburger {
    display: flex;
    font-size: 2em;
    z-index: 50;
  }

  .links {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 200px;
    width: 100%;
    height: 50%;
    background-color: rgb(8, 172, 8);
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
    align-items: center;
    justify-content: center;
    border: none;
    flex-direction: column;
    transition: 0.5s;
    transform: translateY(-100%);
  }

  .links.active {
    box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0, 4);
    transform: translateY(0);
    display: flex;
  }

  .links .navlink {
    color: #fff;
    margin-left: 0px;
  }
  .links .navlink.active {
    background: none;
    color: #333;
  }

  .links .navlink:hover {
    transform: scale(1);
    cursor: pointer;
  }
}

@media screen and (max-width: 520px) {
  .blog-preview {
    max-width: 15em;
  }

  .banner img {
    max-height: 25vh;
  }
  .blog-details img {
    max-width: 25em;
  }
}

@media screen and (max-width: 425px) {
  .home {
    max-width: 280px;
  }
  .links {
    max-width: 150px;
    height: 40%;
  }
  .sidebar {
    max-width: 7em;
  }
  .blog-details img {
    max-width: 20em;
  }
  .related-posts h3,
  .article h3 {
    font-size: 15px;
  }
}

@media screen and (max-width: 390px) {
  .blog-preview {
    max-width: 11em;
    max-height: 25em;
    padding: 0.5em;
  }
  .blog-preview img {
    min-height: 1em;
    object-fit: contain;
  }
  .blog-preview h2 {
    font-size: 17px;
    margin-bottom: 5px;
  }
  .blog-preview p {
    font-size: 13px;
  }
  .blog-details img {
    max-width: 17em;
  }
}

@media screen and (max-width: 330px) {
  .content {
    margin: 1.5em;
  }
  .navbar {
    margin: 0.5em 1.5em;
  }
  .logo {
    font-size: 15px;
  }
  .hamburger {
    font-size: 1.5em;
  }
  .links {
    height: 50%;
  }
  .main {
    flex-direction: column;
    gap: 2em;
  }
  .blog-preview {
    max-width: 100%;
    max-height: 25em;
    padding: 0.5em;
  }
  .sidebar {
    display: flex;
    flex-direction: row;
    gap: 2em;
    max-width: 100%;
  }
  .blog-details img {
    max-width: 15em;
  }
}

@media screen and (max-width: 300px) {
  .foot img {
    max-width: 200px;
  }
}
